@page "/"

<style>
    body {
        background-color: dimgray;
    }
</style>

<PageTitle>Home</PageTitle>
<table style="background-color:black">
    <tr style="justify-content: center">
        <img src="https://nrgptappstorage.blob.core.windows.net/appimages/nrglogo.png"
             width="500" />
    </tr>
</table>
<div class="col-12" style="width:500px; background-color:black">
    <div>
        <div class="card-body" style="font-size:x-large; font-family:Cooper">
            <AuthorizeView>
                <NotAuthorized>
                    @* <span style="color:red"> You are not logged in. Please <a class="fw-bolder" href="/login" style="color:#1e90ff">click here</a> to login</span> *@
                    <label style="color:red; text-align:center">You are not logged in.</label>
                    <label style="color:red; text-align:center">Please <a class="fw-bolder" href="/login" style="color:#1e90ff">click here</a> to login</label>
                </NotAuthorized>
                <Authorized>
                    <span style="color:red"> Logged in as <b style="color:white">@context.User.Identity.Name</b>. <a class="fw-bolder" style="color:#1e90ff" href="/logout">Click here </a> to logout</span>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</div>
<br />
<br />
<AuthorizeView>
    <NotAuthorized>
        <div class="col-12" style="width:500px;font-family:Cooper; font-weight:500; background-color:#1e90ff">
            <div>
                <div class="card-body">
                    <span style="color:black"> Want an account? Please <a class="fw-bolder" style="color:red" href="/AddNewClient">click here</a> to create</span>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
